@using Capstone.Web.Models;
@model ChildModel
@{
    ViewBag.Title = "ActivityHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activity History for @Model.UserName </h2>

<table id="activityhistorytable">
    <tr>
        <td>Date</td>
        <td># of Steps</td>
        <td># of Active Minutes</td>
    </tr>
    @foreach (ActivityModel activity in Model.Activities)
    {
        <tr>
            <td>@activity.Date.ToShortDateString()</td>
            <td>@((activity.Seconds * 10).ToString("N0")) Steps</td>
            <td>@(activity.Carrots.ToString("N0")) Minutes</td>
        </tr>
    }

</table>