@model Capstone.Web.Models.ParentModel


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.First_Name Dashboard</h2>

@Html.ActionLink("Add Child", "Registration", "Child", null, null)