@model Capstone.Web.Models.ParentModel


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Welcome to your Dashboard @Model.First_Name! </h2>

@Html.ActionLink("Add Child", "Registration", "Child", null, null)

