
@{
    ViewBag.Title = "Hop To It: Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="welcome">Welcome to HOP TO IT!</h2>
<body class="home_description">
    <h3>Do you want your children to play outside more often?</h3>

    <h3 id="tracker">Sign them up for Hop To It - a wellness tracker for kids.</h3>

    <p class="design_description">Hop To It is designed to encourage your children to be active</p>
    <p class="design_description">because it only allows screen time when your children have earned it through activity.</p>
    <p class="design_description">It's easy to sign up - simply register with your email address.</p>

    <div id="homeflexbox">
        <div class="homecontainer">
            <h4> Tracking Your Child's Activity </h4>
            <br />
            <div class="seconds_home1">
                Your child can wear a fitness tracking device, like a pedometer, and he or she will earn time on Hop To It in proportion to the number
                of steps he or she takes each day.
            </div>
            <br />
            <div class="seconds_home2">
                10 steps = 1 second
            </div>
            <br />
            <div class="seconds_home3">
                For every 10 steps, your child will earn 1 second of play time on the site.
                Typically, a child will take between 12,000 and 15,000 steps a day earning between 20 and 25 minutes of screen time a day.
            </div>
        </div>
        <div id="homeseperatordiv"></div>
        <div class="row">
            <div class="column">
                <h4> How It Works </h4>
                On Hop To It, your child will choose a bunny avatar to represent them on the site.  You will be able to track your child's activity and view a leaderboard.  You can challenge your child to be more active and make the leaderboard.  </p>
            </div>
            <div class="column1">
                In addition to screen time, your child will earn carrots - which the bunny can use like money - by recording his or her active minutes.
                Some activity trackers record active minutes or you can simply add up the amount of time he or she is involved in active play.
            </div>
            <div class="column2">
                Carrots will be used on the site to personalize the bunny avatar with hats and backgrounds.  Your child can even earn more carrots by playing games on the site.</p>
            </div>
            <br />
        </div>
    </div>
</body>