
/*Parent Dashboard Child Profiles*/

body {
    text-align:center;
    margin:auto;
}
      
#childinformation {
    color: #73583f;
    padding: 10%;
    border:7px solid;
    margin:2.5%;
    background-color: antiquewhite;
    position: relative;
    height:auto;
    width:auto;
}

#usernameMascot{
    position: absolute;
    left:5%;
    top:10%
}

#FirstNameMinSteps{
    position:absolute;
    right:45%;
    top:20%;
    height:auto;
    width:auto;
}
#activitybutton{
    position:absolute;
    right:5%;
    padding:1%;
    color:white;
    background-color:#77b940;
    border-color:#73583f;
    height:auto;
    width:auto;
}


