#welcome {
    color:#73583f;
}

h3 {
    color: #77b940;   
}
#tracker {
    margin-bottom: 2%;
}
 .design_description {
     color: #73583f;
     font-size: large;  
     margin-bottom:1%;
     padding:.25%;
 }

  .homecontainer{
     background-color:#77b940;
     color:white;
     font-family:Arial, Helvetica, sans-serifl;
     border:5px double #73583f;
     display:inline-block;
     width:48%;
     padding: 3%;   
     margin-bottom:2%;
     float:left;
 }

 .row{
     background-color:#77b940;
     color:white;
     font-family:Arial, Helvetica, sans-serifl;
     border:5px double #73583f;
     font: #73583f;
     display:inline-block;
     width:48%;
     padding: 2.5%;
     margin-bottom:2%;
     float: right;
  
     
 }
 .column{
     width: 100%;
     padding-bottom: 4%;
 }
 .column1{
     width:100%;
     padding-bottom: 4%;
        
 }
.column2 {
    width:100%;
 
}
#homeflexbox{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 70%;

}
#homeseperatordiv{
    display: inline-block;
    width: 6%;
}