#welcome {
    color:#73583f;
}

h3 {
    color: #77b940;   
}
#tracker {
    margin-bottom: 2%;
}
 .design_description {
     color: #73583f;
     font-size: large;  
     margin-bottom:1%;
     padding:.25%;
 }

 .homecontainer{
     background-color:#77b940;
     color:white;
     font-family:Arial, Helvetica, sans-serifl;
     border:5px double #73583f;
     display:inline-block;
     width:40%;
     padding: 3%;   
     margin-left:8%;
     margin-bottom:2%;
     float:left;
     height:inherit;

 }

 .row{
     background-color:#77b940;
     color:white;
     font-family:Arial, Helvetica, sans-serifl;
     border:5px double #73583f;
     font: #73583f;
     display:inline-block;
     width:40%;
     padding: 2.5%;
     margin-bottom:2%;
     margin-right:8%;
     float:right;
     height:inherit;
     
 }
 .column1{
     width:50%;
     float:left;
 }
.column2 {
    width:30%;
    float:right;
}
