@font-face {
    font-family: 'frankfurter';
    src: url('fonts/frankfurter.ttf') format('truetype');
}

body {
    background-color: #e2b991;
    font-family: frankfurter;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.5) 0%, rgba(255,255,255,.5)100%), url('images/adjusted_background.jpg');

}

.formdiv {
    width: 50%;
}

.formcontainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2%
}

h2 {
    display: block;
    padding: 1%;
}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: #77b940;
}

    header img {
        width: 15%;
        height: 15%;
    }

#navbar {
    background-color: #fcae16;
    font-family: frankfurter;
}

    #navbar a {
        color: white;
    }

.field-validation-error {
    color: red;
}

.navbar-header, .container-fluid {
    background-color: #fcae16;
}

.navbar-toggle {
    background-color: lightgray;
}
#navbarusername{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-style: italic;
    position: relative;
    right: 10px;
}
#homebutton{
    color: white;
}

.error {
    color: red;
}
footer{
    position: fixed;
    bottom: 0;

}
button{
    border-radius: 15px;
}

#carrotdiv{   
    padding-top: 50px;
    padding-bottom: 30px;
    display: inline-block;
    width: 100px;

    width: 200px

}
#hourglassdiv{
    padding-top: 50px;
    padding-bottom: 30px;
    display: inline-block;
    width: 200px;
}
#headertext{
    display: inline-block;
    width: 10px;
    padding-top: 30px;
    padding-bottom: 30px; 
    width: 100px;
}
#headerimg{
    padding-left: 10px;  
    width: 30%;
    height: 30%;
    display: inline-block;
  
}
