@using Capstone.Web.Models;
@model ChildModel


<div @*class="container"*@ id="hourglassdiv">
    <img id="headerimg" class="img-responsive" src="~/Content/images/hourglass.png" />
    <h3 id="headerseconds"></h3>
</div>

