@using Capstone.Web.Models;
@model ChildModel


<div id="carrotdiv">
    <img id="headerimg" class="img-responsive" src="~/Content/images/carrot_withdarkleaf.png" />
    <h3 id="headertext">@(Model.Carrots) Carrots</h3>
</div>