@using Capstone.Web.Models;
@model ChildModel


<div id="carrotdiv">
    <img id="headerimg" src="~/Content/images/carrot_withdarkleaf.png" />
    <div id="headertext">@(Model.Active_Minutes) Carrots</div>
</div>