@using Capstone.Web.Models
@model ChildModel

<head>
    <script src="~/Scripts/time_tracking.js"></script> 
</head>

<div style="display: none"><p id="child_username">@Model.UserName</p></div>

<ul class="nav navbar-nav navbar-left">
    @*<li><a href="Http://localhost:55601/">Home</a></li>*@
    <li><a href="Http://localhost:55601/ChildDashboard">Dashboard</a></li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li id="navbarusername">Hello, @(Model.First_Name)! </li>
    
    <li><a href="Http://localhost:55601/Home/Logout">Logout</a></li>
</ul>