<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Parent Registration", "Registration", "Parent")</li>
    <li>@Html.ActionLink("Parent Login", "Login", "Parent")</li>
    <li>@Html.ActionLink("Child Login", "Login", "Child")</li>
</ul>