@using Capstone.Web.Models;
@model  ParentModel

<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Dashboard", "Dashboard", "Parent")</li>
    <li>@Html.ActionLink("Add Child", "Registration", "Child")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li id="navbarusername">Hello, @(Model.First_Name)!</li>
    <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
</ul>