@model Capstone.Web.Models.ChildModel

@{
    ViewBag.Title = "Create Mascot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose A Mascot</h2>

<p>Please choose a mascot to continue:</p>

@using (Html.BeginForm("ChooseMascot", "Child", FormMethod.Post))
{
    <div class="form-group">
        @Html.RadioButtonFor(m => m.Mascot.Mascot_Image, "black.png") Black
    </div>
    <div class="form-group">
         @Html.RadioButtonFor(m => m.Mascot.Mascot_Image, "brown.png") Brown
    </div>
    <div class="form-group">
        @Html.RadioButtonFor(m => m.Mascot.Mascot_Image, "gray.png") Gray
    </div>

    <button> Submit </button>
}
