@model Capstone.Web.Models.ViewModels.ChooseMascotModel

@{
    ViewBag.Title = "Choose A New Mascot";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose A Mascot</h2>

<p>Please choose a mascot to continue. Mascots can only be chosen once. Choose wisely!</p>

@using (Html.BeginForm("ChooseMascot", "Child", FormMethod.Post))
{
    <div class="mascotDiv">
        <label>
            @Html.RadioButtonFor(m => m.Mascot_Image, "black.png", new { @visibility = "hidden" })
            <img src="~/Content/images/mascots/black.png" id="mascot" />
        </label>
    </div>
    <div class="mascotDiv">
        <label>
            @Html.RadioButtonFor(m => m.Mascot_Image, "brown.png", new { @visibility = "hidden" })
            <img src="~/Content/images/mascots/brown.png" id="mascot" />
        </label>
    </div>
    <div class="mascotDiv">
        <label>
            @Html.RadioButtonFor(m => m.Mascot_Image, "gray.png", new { @visibility = "hidden" })
            <img src="~/Content/images/mascots/gray.png" id="mascot" />
        </label>
    </div>
    
    <button id="mascotButton"> Submit </button>
}
