@using Capstone.Web.Models
@model ChildModel
@{
    ViewBag.Title = "Closet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserName's Closet</h2>

@if (Model.Mascot != null)
{
    <section id="parent">
        @if (Model.Mascot.CurrentHat == null && Model.Mascot.CurrentBackground == null)
        {
            <div><img class="mascotImage" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" /></div>
        }
        else if (Model.Mascot.CurrentBackground == null)
        {
            <div><img class="mascotImage" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" /></div>
            <div><img class="hatImage" src="~/Content/images/fitted_items/@Model.Mascot.CurrentHat" /></div>

        }
        else if (Model.Mascot.CurrentHat == null)
        { 
            <div><img class="mascotImage" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" /></div>
            <div><img class="background image" src="~/Content/images/backgrounds/@Model.Mascot.CurrentBackground" />"/></div>
        }
        else
        {
            <div><img class="mascotImage" src="~/Content/images/mascots/@Model.Mascot.Mascot_Image" /></div>
            <div><img class="hatImage" src="~/Content/images/fitted_items/@Model.Mascot.CurrentHat" /></div>
            <div><img class="backgroundImage" src="~/Content/images/backgrounds/@Model.Mascot.CurrentBackground" /></div>
        }
    </section>
}
else
{
<div class="mascotDiv">
    <img src="~/Content/images/mascots/default.png" id="mascot" />
</div>
}


@*<section class="closetContainer">
    using (Html.BeginForm("ChooseClosetItems", "Child", FormMethod.Post))
    {
    <h2>Your Purchases</h2>

    @foreach ()
    { 
        <div>
            adds radio button for image
            @Html.RadioButtonFor(m => m.Mascot, <img src="~/Content/images/Resized/>@*purchased items*@
        @*</div>

        }
    }
        <button class="mascotDivButton"> Submit </button>
   </section>*@