@using Capstone.Web.Models
@model ChildModel
@{
    ViewBag.Title = "Closet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Closet</h2>

<div id="parent">
    <img class="hat image" src="~/Content/images/fitted items/BaseballCap_bunny.png" />
    <img class="mascot image"src="~/Content/images/mascots/black.png" />
</div>