@using Capstone.Web.Models.ViewModels;
@model ChildLoginModel

<h2>Child Login</h2>

@using (Html.BeginForm("Login", "Child", FormMethod.Post))
{

    <div>
        <label>User Name</label>
        @Html.TextBoxFor(m => m.UserName)
    </div>
    <div>
        <label>Password</label>
        @Html.TextBoxFor(m => m.Password)
    </div>
    <button> Submit </button>

}