@using Capstone.Web.Models.ViewModels;
@using Capstone.Web.Models;
@model StoreViewModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store</h2>

<div>
    <img src="~/Content/images/mascots/@(Model.Mascot).png"/> 
</div>


@using (Html.BeginForm("Store", "Child", FormMethod.Post))
{
    <div id="storehatdiv">
        @foreach (ItemModel hat in @Model.Hats)
        {
            <div>
                <img class="storehatimg" src="~/Content/images/Resized/@hat.Image" />
                <p>@(hat.Price) carrots</p>
            </div>
        }

    </div>

}