@using Capstone.Web.Models.ViewModels;
@model StoreViewModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Store</h2>

<div>
    @Model.Mascot
</div>



<div>
 

</div>